<html layout:decorate=~{layouts/base}>
<body>
    <div class="container my-5" layout:fragment="content">
        <div>
            <h1>Login Page</h1>
        </div>
        <form action="#" method="post" th:action="${processLogin}" th:object="${loginModel}">
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Username</label>
              <input th:field="*{username}" type="text" class="form-control" name="username" id="username">
              <div class="form-text">We'll never share your data with anyone else.</div>
              <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></p>
              <!-- <ul>
                <li th:each="err : ${#fields.errors('username')}" th:text="${err}" ></li>
              </ul> -->
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input th:field="*{password}" type="text" class="form-control" id="password" name="password">
              <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></p>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </div>
</body>
</html>