<html layout:decorate=~{layouts/base}>
<body>
    <div layout:fragment="content" class="container mt-3 mb-3">
        <h2>Create new Order</h2>
        <form th:action="@{/orders}" action="#" method="post" th:object="${order}">
            <div class="mb-3">
              <label for="inputOrderNumber" class="form-label">Order Number</label>
              <input th:field="*{orderNo}" type="text" class="form-control" id="inputOrderNumber">
            </div>
            <div class="mb-3">
                <label for="inputProductName" class="form-label">Product Name</label>
                <input th:field="*{productName}" type="text" class="form-control" id="inputProductName">
              </div>
            <div class="mb-3">
                <label for="inputPrice" class="form-label">Price</label>
                <input th:field="*{price}" type="number" class="form-control" id="inputPrice">
              </div>
            <div class="mb-3">
                <label for="inputQty" class="form-label">Quantity</label>
                <input th:field="*{qty}" type="number" class="form-control" id="inputQty">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

    </div>
    
</body>
</html>